@{
    ViewBag.Title = "Home Page";
}

<style>
    /* CSS darkmode */
    .dark-mode {
        background-color: #333333;
        color: #ff9900;
    }
</style>

<div>
    <h1>MedManager</h1>
    <button id="darkModeToggle">Dark Mode</button>

    <p>
        <picture>
            <source media="(max-width:639px)" srcset="~/Images/healthcover-320.jpg" />
            <source media="(max-width:1279px)" srcset="~/Images/healthcover-640.jpg" />
            <source media="(max-width:2560px)" srcset="~/Images/healthcover-1280.jpg" />

            <img src="~/Images/healthcover-320.jpg"
                 alt="Differemt resolution" />
        </picture>

    </p>
</div>



<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            MedMagner is a medical appointment scheduling software. Through this program, 
            you can easily book medical consultations and view the locations of our partnered hospitals.
            It helps you manage your health more effectively.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Why Examination</h2>
        <p>Ultrasound imaging, or sonography, uses high-frequency sound waves to visualize internal structures. It's safe, radiation-free, and versatile, making it essential for diagnosing various medical conditions.</p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>If you have any questions, please contact the administrator.</p>
        </div>
</div>

@section Scripts{
    <script>
        const darkModeToggle = document.getElementById('darkModeToggle');
        const body = document.body;

        darkModeToggle.addEventListener('click', function () {
            body.classList.toggle('dark-mode');
        });
    </script>

}
